<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-inverse side-collapse in">
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/user/homepage">Home</a>
                    </li>
                    <li>
                        <a href="/news/hotnews">Hot news</a>
                    </li>
                    <li>
                        <a href="http://placesforlove.com">Places</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div ng-app="hieuden">
    <div ng-controller="deptrai">
        <span>ai xau trai: {{xautrai}}</span>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-2 hidden-sm hidden-xs banner">
            <img class="w-10" src="/images/left_banner.jpg" />
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="swiper-banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image1.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image2.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image3.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image4.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image5.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image6.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image4.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image1.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image2.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img class="fillheight" src="/images/image3.jpg" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>    
        </div>
        <div class="col-md-2 hidden-sm hidden-xs banner">
            <img class="w-10" src="/images/right_banner.jpg" />
        </div>
    </div>
    

    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-toggle="modal" data-target="#exampleModalCenter">
                <img class="avatar-background" src="/images/christ.png" data-toggle="modal" data-target="#exampleModal" />
            </div>
            <div class="swiper-slide">
                <img class="avatar-background" src="/images/gino.png" />
            </div>
            <div class="swiper-slide">
                <img class="avatar-background" src="/images/jamesh.png" />
            </div>
            <div class="swiper-slide">
                <img class="avatar-background" src="/images/kevin.png" />
            </div>
            <div class="swiper-slide">
                <img class="avatar-background" src="/images/kiwhi.png" />
            </div>
            <div class="swiper-slide">
                <img class="avatar-background" src="/images/klay.png" />
            </div>
            <div class="swiper-slide">
                <img class="avatar-background" src="/images/stephen.png" />
            </div>
            <div class="swiper-slide">
                <img class="avatar-background" src="/images/tim.png" />
            </div>
            <div class="swiper-slide">
                <img class="avatar-background" src="/images/tonyparker.png" />
            </div>
        </div>
    </div>
    <phonelist></phonelist>

</div>

