<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-inverse side-collapse in">
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/user/homepage">Home</a>
                    </li>
                    <li>
                        <a href="/news/hotnews">Hot news</a>
                    </li>
                    <li>
                        <a href="http://placesforlove.com">Places</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div>
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs banner">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <ul class="nav nav-tabs custom-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Most Popular</a></li>
                <li role="presentation" class=""><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Most Reader</a></li>
                <li role="presentation" class=""><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Recent Comment</a></li>
            </ul>
            <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade" id="home">
                      <ul class="catg3_snav ppost_nav wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                      </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                      <ul class="catg3_snav ppost_nav wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                      </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade active in" id="messages">
                      <ul class="catg3_snav ppost_nav wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                        <li>
                          <div class="media"> <a class="media-left" href="#"> <img src="images/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                          </div>
                       </li>
                      </ul>
                    </div>
                  </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <article class="featured hasvideo" topic-id="3893,3759">
                <div class="cover">
                    <a href="/nha-phuong-phu-nhan-yeu-nhan-phuc-vinh-ne-tranh-nhac-truong-giang-post834709.html">
                        <img src="https://znews-photo-td.zadn.vn/w480/Uploaded/izhqv/2018_04_15/5a8bfc55544bba15e35a_zing.jpg" alt="Nha Phuong phu nhan yeu Nhan Phuc Vinh, ne tranh nhac Truong Giang hinh anh">
                    </a>
                </div>
                <header>
                    <p class="title">
                        <a href="/nha-phuong-phu-nhan-yeu-nhan-phuc-vinh-ne-tranh-nhac-truong-giang-post834709.html">
                            Nhã Phương phủ nhận yêu Nhan Phúc Vinh, né tránh nhắc Trường Giang
                        </a>
                    </p>
                    <time datetime="2018-04-16 01:01+0700">01:01 16/04</time>
                </header>
                <p class="summary">Nhã Phương phủ nhận có mối quan hệ tình cảm với Nhan Phúc Vinh. Về lùm xùm Trường Giang - Nam Em, nữ diễn viên cho biết
                    "cái gì đã qua thì cho qua".</p>
            </article>
        </div>
    </div>
</div>

